#PrePreviewPost {
	display: none;
	border: 1px solid;
	margin-top: 0;
	padding: 5px;
}

#PreviewPost {
	padding: 0;
	margin: 0;
	border-bottom: 0;
}

.CommentForm, .DiscussionForm {
	padding-bottom: 10px;
}
#Form.StartDiscussion .Submit .PreviewButton,
#Form.AddComments .Submit .PreviewButton {
	width: 100px !important;
	}