/*
* Copyright 2003 - 2005 Mark O'Sullivan
* This file is part of Vanilla.
* Vanilla is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version.
* Vanilla is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
* You should have received a copy of the GNU General Public License along with Vanilla; if not, write to the Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
* The latest source code for Vanilla is available at www.lussumo.com
* Contact Mark O'Sullivan at mark [at] lussumo [dot] com
*
* Description: Default cascading stylesheet for Vanilla sign in screens
*/


/* Global Definitions */
  
.DebugBar {
	position: absolute;
	top: 0px;
	left: 0px;
	background: #ffffff;
	border-bottom: 1px solid #C7D3EA;
	text-align: left;
	width: 100%;
	clear: both;
	padding-top: 4px;
	padding-bottom: 4px;
	text-indent: 4px;
}
.Sql {
	border-top: 2px dashed #efefef;
	margin-top: 4px;
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 4px;
	color: #CA0971;
} 
  
body { 
	background: #F5F9FF;
	text-align: center;
}
body, div, input, textarea, select {
	font-family: Trebuchet MS, Verdana, Tahoma, Arial;
	font-size: 12px;
	color: #062971;
}
a, a:link, a:visited {
	color: #3354AA;
	text-decoration: none;
	background: #ffc;
}
a:hover {
	color: #4B6DB7;
	text-decoration: none;
	background: #ffb;
}
form {
	display: inline;
}
.ErrorContainer {
	margin: 16px;
	border: 1px solid #FFC2CA;
	background: #FFEDEF;
	padding: 8px;
}
.ErrorTitle {
	font-size: 16px;
	font-weight: bold;
	color: #CC0000;
	border-bottom: 2px dotted #FFC2CA;
	margin-bottom: 4px;
}
.Error {
	font-size: 12px;
	color: #CC0000; 
}
input {
	font-family: arial, sans-serif, verdana;
	font-size: 12px;
}
.SiteContainer {
	margin-top: 100px;
}
.BugReportContainer {
	margin-top: 20px;
}
.SiteContainer,
.Foot {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
.Foot {
	clear: left;
}
.SignIn,
.PasswordRequest { width: 500px; }
.SignIn .PageTitle,
.PasswordRequest .PageTitle{ width: 492px; }
.SignOut { width: 400px; }
.SignOut .PageTitle { width: 392px; }
.Apply { width: 580px; }
.Apply .PageTitle { width: 572px; }
.BugReportContainer,
.BugReport,
.PasswordReset { width: 550px; }
.BugReportContainer .PageTitle,
.PasswordReset .PageTitle { width: 542px; }
.PageTitle {
	text-align: center;
	background: url("../images/waves.blue.gif") repeat-x left top #E5EAF6;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-left: 4px;
	border-left: 1px solid #C7D3EA;
	border-top: 1px solid #C7D3EA;
	border-right: 1px solid #C7D3EA;
}
.PageTitle, .PageTitle a, .PageTitle a:link, .PageTitle a:visited, .PageTitle a:hover {
	font-size: 20px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
.PageTitle a, .PageTitle a:link, .PageTitle a:visited, .PageTitle a:hover {
	background: none;
}
.PageTitle strong {
	font-weight: normal;
	color: orange;
}
.FormContainer {
	float: left;
	width: 100%;
	border: 1px solid #C7D3EA;
	background: #fff;
}
.About {
	width: 250px;
	float: left;
	margin-top: 12px;
	margin-bottom: 18px;
}
.Apply .About { width: 300px; border: 0px; }
.Form {
	margin-top: 12px;
	margin-bottom: 18px;
	margin-left: 250px;
	margin-right: 18px;
	border-left: 1px solid #EBECFF;
	padding-left: 18px;
}
.BugForm {
	margin: 20px;
	padding: 0px;
	border: 0px;
}
.BugForm dd {
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
}
.BugInput,
.BugTextBox {
	width: 480px;
}
.BugTextBox {
	height: 140px;
}
.Apply .Form { margin-left: 300px; }
.About h1,
.Form h1,
.FormComplete h1 {
	font-size: 14px;
	color: #333;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 4px;
}
.About p,
.Form p,
.FormComplete p {
	line-height: 160%;
	margin-top: 0px;
	margin-bottom: 0px;
}
.About p {
	padding-bottom: 6px;
}
.About p strong {
	font-weight: normal;
	text-decoration: underline;
}
.About p,
.About h1 {
	padding-left: 18px;
	padding-right: 18px;
}
.FormComplete {
	padding: 18px;
}
.FormComplete ul {
	margin-top: 8px;
	margin-left: 20px;
	margin-bottom: 8px;
	padding-left: 0px;
}
.FormComplete li {
	margin-bottom: 6px;
}
.FormComplete li strong {
	color: #c00;
	font-weight: normal;
}
.InputBlock {
	background: #f3f3f3;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 4px;
	margin: 0px;
}
.BugReportInputs {
	margin-top: 10px;
	margin-bottom: 10px;
}
.NewPasswordInputs,
.PasswordRequestInputs,
.SignInInputs {
	margin-top: 6px;
}
.NewPasswordInputs, 
.PasswordRequestInputs {
	margin-bottom: 10px;
}
.NewPasswordInputs dt,
.PasswordRequestInputs dt,
.ApplyInputs dt,
.SignInInputs dt {
	padding-top: 4px;
	color: #333;
	position: absolute;
}
.PasswordRequestInputs dd,
.SignInInputs dd {
	margin-left: 0px;
	padding-left: 63px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.RememberMe {
	padding-top: 0px;
	padding-left: 65px;
}
.ForgotPasswordLink, .ForgotPasswordLink:link, .ForgotPasswordLink:visited, .ForgotPasswordLink:hover {
	margin-bottom: 6px;
	margin-top: 2px;
	font-size: 11px;
	padding: 4px;
	text-decoration: none;
	display: block;
}
.ForgotPasswordLink, .ForgotPasswordLink:link, .ForgotPasswordLink:visited {
	background: #ffd;
	color: #c96;
}
.ForgotPasswordLink:hover {
	background: #ffc;
	color: #c90;
}
.CheckboxLabel a, .CheckboxLabel a:link, .CheckboxLabel a:visited {
	text-decoration: underline;
	background: none;
}
.CheckboxLabel a:hover {
	text-decoration: none;
	background: none;
}
.PasswordReset .InputBlock .InputLabel { width: 110px; }


.NewPasswordInputs dd {
	margin-left: 0px;
	padding-left: 114px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.ApplyInputs dd {
	margin-left: 0px;
	padding-left: 94px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.ApplicationTextbox {
	width: 226px;
	height: 40px;
}
.TermsOfServiceCheckbox {
	margin-bottom: 10px;
}

.Input { width: 130px; }

.FormButtons {
	text-align: right;
}
.Button {
	font-family: Trebuchet MS, Verdana, Tahoma, Arial;
	background: none;
	border: 0px;
	color: #062971;
	font-weight: bold;
	text-decoration: underline;
	text-align: right;
	font-size: 13px;
	cursor: pointer;
}
.BlankMessage {
	padding: 18px;
}
.Links {
	float: right;
}
.Copyright,
.Links {
	color: #DCEAFF;
	margin-bottom: 20px;
}
.Foot a, .Foot a:link, .Foot a:visited, .Foot a:hover {
	background: none;
	text-decoration: none;
}
.Foot a, .Foot a:link, .Foot a:visited { color: #DCEAFF; }
.Foot a:hover { color: #062971; }