/* PAGINATION STYLES*/
ul.fdtablePaginater
        {
        display:table;
        list-style:none;
        padding:0;
        text-align:center;
        height:2em;
        width:auto;
        margin:0;
        }
ul.fdtablePaginater li
        {
        display:table-cell;
        padding-right:4px;
        color:#666;
        list-style:none;
        
        -moz-user-select:none;
        -khtml-user-select:none;
        }
ul.fdtablePaginater li a.currentPage
        {
        border-color:#a84444 !important;
        color:#000;
        }
ul.fdtablePaginater li a:active
        {
        border-color:#222 !important;
        color:#222;
        }
ul.fdtablePaginater li a,
ul.fdtablePaginater li div
        {
        display:block;
        width:20px;
      
        font-size:1em;
        color:#666;
        padding:0;
        margin:2px;
        text-decoration:none;
        outline:none;
        border:1px solid #ccc;
        font-family:georgia, serif;
        }
ul.fdtablePaginater li div
        {
        cursor:normal;
        opacity:.5;
        filter:alpha(opacity=50);
        }
ul.fdtablePaginater li a span,
ul.fdtablePaginater li div span
        {
        display:block;
        line-height:2em;
        border:1px solid #fff;
        background:#ffffff;
        }
ul.fdtablePaginater li a
        {
        cursor:pointer;
        }
ul.fdtablePaginater li a:hover
        {
        color:#333;
        bacground-color:#cccccc
        text-decoration:none;
        border-color:#aaa;
        }
ul.fdtablePaginater li a:focus
        {
        color:#333;
        text-decoration:none;
        border-color:#aaa;
        }
.fdtablePaginaterWrap
        {
        text-align:center;
        clear:both;
        text-decoration:none;
        }
ul.fdtablePaginater li .next-page span,
ul.fdtablePaginater li .previous-page span,
ul.fdtablePaginater li .first-page span,
ul.fdtablePaginater li .last-page span
        {
        font-weight:bold !important;
        }
/* Keep the table columns an equal size during pagination */
td.sized1
        {
        width:16em;
        text-align:left;
        }
td.sized2
        {
        width:10em;
        text-align:left;
        }
td.sized3
        {
        width:7em;
        text-align:left;
        }
* html ul.fdtablePaginater li div span,
* html ul.fdtablePaginater li div span
        {
        background:#eee;
        }
tr.invisibleRow
        {
        display:none;
        }

/* PAGINATION END*/

th {
	font-size:		12px;
	height:			20px;
	border-bottom:		1px solid #ccc;
	border-right:		1px solid #ccc;
	padding-left:		5px;
	text-align:		left;
	background-color:	#5d709f;
	color:			#fff;
}

th a, th a:hover {
	color:			#fff;
}

th a {
	text-decoration:	none;
}text-

th.sortable,
th.sortable-text,
th.sortable-date,
th.sortable-keep,
th.sortable-date-dmy,
th.sortable-numeric,
th.sortable-currency,
th.sortable-sortByTwelveHourTimestamp,
th.sortable-sortIPAddress,
th.sortable-sortEnglishLonghandDateFormat,
th.sortable-sortScientificNotation,
th.sortable-sortImage,
th.sortable-sortFileSize, 
   th.sortable-sortAlphaNumeric

        {
        cursor:			pointer;
        vertical-align:		middle;
        background:		#5d709f url(img/bg_header_sortable.png) no-repeat 4px 2px;
        padding:		3px 12px 3px 16px;
        }
th.forwardSort
        {
        background:#919ebe url(img/bg_header_down.png) no-repeat 4px 2px;
        }
th.reverseSort
        {
        background:#919ebe url(img/bg_header_up.png) no-repeat 4px 2px;
        }

/* zebra striping color */     

tr.alt {
        background:		#F5FAFA;
        color:			#797268;
}

#memberscontainer {
	width:			99.5%;
}

#memberscontainer .heading {
color:#000;
font-size:14px;
font-weight:700;
}
#membertable {

border-left:1px solid #CCC;
border-top:1px solid #CCC;
width:100%;
margin:15px 0;
}
#membertable .icon {
	text-align:center;
vertical-align:middle;
}
#membertable img.icon {
	
height:30px;
width:30px;
}

#membertable .medcell {
text-align:left;
width:120px;
}
#membertable .smallcell {
text-align:center;
width:60px;
}
#membertable .top {
font-weight:700;
text-align:left;
}

#membertable td {
border-bottom:1px solid #CCC;
border-right:1px solid #CCC;
padding:2px;
}

/* Cell sizing */

.fd-column-0 {
	width:			20px;
}

.fd-column-6 {
	width:			170px;
}