body {
	margin:0px;
	padding:0px;
	background:#ffffff url('panelfade.gif') top left repeat-y;
	}
body, div, table, td {
	font-family:'Trebuchet MS', 'Verdana', 'Tahoma', 'Arial', sans-serif;
	font-size:12px;
	color:#062971;
	}
a {
	cursor: pointer;
	}
a:hover {
	text-decoration: none;
	}

/* Errors & Success */
.ErrorContainer {
	background: url(alert.gif) no-repeat top left #FFEDEF;
	border-top: 1px solid #FFC2CA;
	border-bottom: 1px solid #FFC2CA;
	padding: 10px 10px 10px 27px !important;
	margin-bottom: 10px !important;
	}
.ErrorTitle {
	font-weight: bold;
	color: #cc0000 !important;
	}
.Error {
	color: #cc0000 !important;
	}
.Success {
	border-top: 1px solid #99CC99;
	border-bottom: 1px solid #99CC99;
	background: #E2F9E3;
	color: #006600 !important;
	display: block;
	padding: 6px !important;
	text-align: center;
	font-size: 13px;
	margin-bottom: 10px !important;
	}
  

/* LoadStatus.. */
#LoadStatus {
	position: fixed;
	_position:absolute;
	top: 0px;
	_top:expression(eval(document.body.scrollTop));
	right: 0px;
	background: #cc0000;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	color: #ffffff;
	font-size: 11px;
	display: none;
	z-index:200;
	}

/* Session.. */

#Session {
	width:100%;
	position:absolute;
	top:25px;
	right:18px;
	text-align:right;
	font-size:11px;
	color:#5d709f;
	}
#Session a {
	color:#5d709f;
	text-decoration:none;
	}
#Session a:hover {
	color:#000000;
	}

/* Header.. */

#Header {
	background: url(waves.blue.gif) repeat-x left top #E5EAF6;
	border-top:1px solid #acbedf;
	border-bottom:1px solid #acbedf;
	}
#Header * {
	margin:0px;
	padding:0px;
	}
#Header h1 {
	text-align:center;
	color:#000000;
	font-size:22px;
	margin:10px 0px;
	}
#Header h1 strong {
	color:#ffa500;
	}
#Header ul {
	text-align:center;
	}
#Header ul li {
	display:inline;
	margin:0px 1px;
	border-bottom:1px solid #acbedf;
	}
#Header ul li.TabOn {
	background-color:#ffffff;
	border:1px solid #acbedf;
	border-bottom:1px solid #ffffff;
	font-weight:bold;
	}
#Header ul li a {
	padding:1px 5px;
	font-size:11px;
	text-decoration:none;
	background-color:#5d709f;
	color:#ffffff;
	}
#Header ul li a:hover {
	background-color:#919ebe;
	}
#Header ul li.TabOn a,
#Header ul li.TabOn a:hover {
	background-color:#ffffff;
	color:#000000;
	}
#Header ul li a em {
	font-style:normal;
	text-decoration:underline;
	}

/* Panel.. */

#Panel {
	width:201px;
	margin-left:18px;
	float:left;
	background:url('panelfadetop.gif') top right no-repeat;
	display: inline;
	}
#Panel * {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#Panel h1 {
	margin-top:20px;
	font-size:14px;
	}
#Panel h1 a {
	color:#cc0000;
	font-size:14px;
	}
#Panel h1 a:hover {
	color:#ff0000;
	}
#Panel h2 {
	color:#000000;
	font-size:11px;
	border-bottom:1px solid #cccccc;
	margin:10px 0px 3px 0px;
	padding:0px;
	text-indent: 4px;
	width:180px;
	}
#Panel ul ul, #Panel ul p, #Panel select {
	margin:0px 4px;
	}
#Panel ul, #Panel p {
	color:#335eb7;
	font-size:11px;
	}
#Panel ul ul {
	color:#ff0000;
	font-size:10px;
	}
#Panel select {
	width:167px;
	margin-top:3px;
	}
#Panel ul ul li {
	width:173px;
	margin-bottom:3px;
	overflow: hidden;
	}
#Panel ul ul li a {
	font-size:11px;
	display:block;
	width:100%;
	color:#335eb7;
	text-decoration:none;
	}
#Panel ul ul li a span {
	color: #cc0000;
	font-size: 10px;
	padding-left: 4px;
	}
#Panel ul ul li a:hover {
	background-color:#ffffcc;
	}
#AboutVanilla {
	margin: 20px 0px 20px 0px !important;
	border-top:1px solid #cccccc;
	background-color:#f9f9f9;
	padding: 3px 0px 3px 0px;
	text-align:center;
	color:#dddddd !important;
	width:180px;
	}
#AboutVanilla a {
	color:#d0d0d0 !important;
	text-decoration:none;
	}
#AboutVanilla a:hover {
	color:#aaaaaa !important;
	text-decoration:underline;
	}

/* Content.. */

#Content {
	margin-left:235px;
	margin-right:18px;
	}

/* ContentInfo/Control/Whatever - Universal to Discussion Index & Comments */

.ContentInfo {
	text-align:right;
	}
.ContentInfo.Top {
	padding-top:20px;
	white-space:nowrap;
	overflow: hidden;
	}
#DiscussionsPage .ContentInfo.Bottom {
	margin-top:-6px;
	margin-bottom: 8px;
	}
.ContentInfo * {
	font-size:14px;
	font-weight:bold;
	margin:0px;
	padding:0px;
	}
#CommentsPage .ContentInfo h1 {
	color:#000000;
	float:left;
	width:60%;
	overflow:hidden;
	white-space:nowrap;
	text-align:left;
	}
html>body .ContentInfo h1 { width:80% !important; }
.ContentInfo input {
	font-size:10px;
	margin-left:5px;
	}
#DiscussionsPage .ContentInfo h1 {
	float:none;
	text-align:left;
	}
.ContentInfo h1 a {
	color:#3354aa;
	text-decoration:none;
	}
.ContentInfo h1 a:hover {
	color:#000000;
	}
.ContentInfo a {
	color:#cccccc;
	text-decoration:none;
	}
.ContentInfo a:hover {
	color:#3354aa;
	}
.PageInfo {
	color:#cccccc;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	padding:0px 1px;
	margin:5px 0px;
	height:23px;
	line-height:23px;
	font-weight:bold;
	}
.PageInfo p {
	margin:0px;
	padding:0px;
	display:inline;
	float:left;
	}
.PageList {
	margin:0px;
	padding:0px;
	list-style:none;
	color: #cccccc;
	}
.PageList li {
	display:inline;
	}
.PageList a,
.PageList li a {
	text-decoration:none;
	color:#3354aa !important;
	}

/* Discussion Index */
  
#PageJump {
	position: absolute;
	margin-top: -16px;
	right: 20px;
	display: block;
	}
#Discussions {
	margin-top:-5px !important;
	float: left;
	width: 100%;
	}	
#Discussions, #Discussions * {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#Discussions li ul {
	background-color:#fefecc;
	border-bottom:1px solid #cccccc;
	}
#Discussions li li {
	height:auto;
	border:0px;
	}
.NoNewComments,
#Discussions li.Read ul {
	background-color:#fffeec !important;
	}
.NewComments,
#Discussions li.Read.NewComments ul {
	background-color:#fefecc !important;
	}
#Discussions li ul {
	padding: 7px 6px 7px 6px;
	color:#777777;
	}
#Discussions ul span, #Discussions ul span a, #Discussions ul a {
	color:#aaaaaa;
	text-decoration:none;
	}
#Discussions ul span a:hover, #Discussions ul a:hover {
	color:#ff0000;
	}
#Discussions ul a {
	color:#777777;
	}
.Discussion {
	background: yellow;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	width: 100%;
}
.DiscussionType {
	font-size:14px;
	float:left;
	margin-right:5px !important;
	color:#062971;
	font-weight:bold;
	line-height:20px;
	}
.DiscussionType span {
	display:none;
	}
.DiscussionType.Normal {
	display:none;
	}
.DiscussionType * {
	float: left;
	}
.DiscussionTopic, .User.Name {
	font-size:14px;
	line-height:20px;
	overflow: hidden;
	}
.DiscussionTopic span {
	display:none;
	}
.DiscussionTopic a, .User.Name a {
	color:#3354aa !important;
	text-decoration:underline !important;
	font-weight:bold;
	}
.DiscussionTopic a:hover {
	text-decoration: none !important;
	}
.DiscussionCategory, .DiscussionStarted, .DiscussionComments, .DiscussionLastComment, .DiscussionActive, .DiscussionNew {
	width: auto;
	display:inline;
	font-size:10px;
	margin-right:10px!important;
	}
.NewComments .DiscussionNew a {
	color:#cc0000 !important;
	}
#Discussions li.Read.NewComments .DiscussionNew {
	display:inline;
	}

/* Category Index */
  
#CategoryPage div.ContentInfo h1 {
	text-align: left;
	width: 100%;
	border-bottom: 1px solid #cccccc;
	padding-bottom:6px;
	}
#Categories, #Categories * {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#Categories {
	margin-bottom: 20px;
	}
.BlockedCategory {
	background: #ffffff;
	}
.UnblockedCategory {
	background: #f5f9ff;
	}
#Categories li ul {
	border-bottom:1px solid #cccccc;
	}
#Categories li li {
	height:auto;
	border:0px;
	}
#Categories li ul {
	padding: 7px 6px 7px 6px;
	}
#Categories ul span, #Categories ul span a, #Categories ul a {
	color:#aaaaaa;
	text-decoration:none;
	}
#Categories ul span a:hover, #Categories ul a:hover {
	color:#ff0000;
	}
#Categories ul a {
	color:#777777;
	}
.Category {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	width: 100%;
	}
.CategoryName {
	font-size:14px;
	margin-right:5px !important;
	color:#062971 !important;
	font-weight:bold;
	line-height:20px;
	}
.CategoryName a {
	color: #3354AA !important;
	text-decoration: underline !important;
	}
.CategoryName a:hover {
	text-decoration: none !important;
	}
.CategoryName span,
.CategoryDescription span {
	display:none;
	}
.CategoryName.Normal {
	display:none;
	}
.CategoryDescription {
	font-size:13px;
	line-height:20px;
	overflow: hidden;
	}
.CategoryDiscussionCount, .CategoryOptions {
	width: auto;
	display:inline;
	font-size:10px;
	margin-right:10px!important;
	}

/* Comments.. */

#Comments {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#Comments li {
	margin:0px;
	padding:10px 0px;
	border-bottom:1px solid #cccccc;
	}
#Comments .CommentHeader {
	padding-left: 8px;
	padding-right: 8px;
	text-align:right;
	line-height:32px;
	}
#Comments .CommentHeader ul {
	float:left;
	margin:0px;
	padding:0px;
	list-style:none;
	}
#Comments .CommentHeader li {
	margin:0px;
	padding:0px;
	display:inline;
	color:#aaaaaa;
	font-size:11px;
	border-bottom:0px;
	}
#Comments .CommentHeader li div.CommentIcon {
	padding:8px 0px 8px 30px;
	margin-right: 6px;
	background-repeat:no-repeat;
	display: inline;
	background: #ffffff center center no-repeat;
	}
#Comments .CommentHeader li span {
	display:none;
	}
#Comments .CommentHeader em {
	color:#cccccc;
	font-style:normal;
	}
#Comments .CommentHeader a {
	text-decoration:none;
	font-weight:bold;
	font-size:13px;
	color:#3354aa;
	}
#Comments .CommentHeader span {
	font-size:10px;
	font-weight: normal;
	color:#aaaaaa;
}
#Comments .CommentHeader span a {
	font-size:10px;
	font-weight: normal;
	color:#aaaaaa;
	margin-left:3px;
	padding-left:3px;
	cursor: pointer;
	text-decoration: underline;
	}
#Comments .CommentHeader span a:hover {
	text-decoration: underline;
	color: #333;
	}
#Comments .CommentBody {
	display:block;
	margin: 10px;
	color:#000000;
	}
#CommentsPage .ContentInfo.Middle .PageInfo {
	border-top: 0px;
	margin:0px;
	}
#CommentsPage .ContentInfo.Bottom {
	margin-bottom: 20px;
	}
#Comments code {
	border-left: 6px solid #FFFFAA;
	background: #FFFFEE;
	padding: 8px;
	padding-left: 16px;
	display: block;
	white-space: pre;
	}	

/* Search Page */

#Form.Search {
	width: 100% !important;
	padding: 20px 0px 0px 0px !important;
	}
#Form.Search fieldset legend {
	padding: 0px !important;
	margin-bottom: 6px;
	}
#SearchSimple {
	margin: 0px !important;
	}
#SearchSimple input {
	width: 10px !important;
	margin-left: 14px;
	margin-right: 6px;
	}
#SearchSimple label {
	display: inline !important;
	width: 10px !important;
	}
#MainSearchInput input {
	width: 60% !important;
	margin-left: 0px !important;
	}
#MainSearchInput label {
	display: none !important;
	}
#Form.Search .Submit input {
	margin: 0px !important;
	width: 70px !important;
	color: #000000 !important;
	}

/* Advanced Search Form */

#SearchDiscussions, #SearchComments, #SearchUsers {
	display: none;
	}
#SearchDiscussions, #SearchComments {
	border-bottom: 0px !important;
	margin: 0px !important;
	}
#SearchComments, #SearchUsers {
	border-top: 0px !important;
	}
#SearchUsers {
	margin-top: 0px !important;
	padding-bottom: 16px !important;
	}
#SearchDiscussions label, #SearchComments label, #SearchUsers label {
	width: 200px !important;
	float: left;	
	margin: 0px !important;
	}
#SearchDiscussions input, #SearchComments input, #SearchUsers input,
#SearchDiscussions select, #SearchComments select, #SearchUsers select {
	width: 180px !important;
	margin: 0px 12px 0px 0px !important;
	padding: 0px !important;
	}
#SearchDiscussions select, #SearchComments select, #SearchUsers select {
	margin: 0px 16px 0px 0px !important;
	}
#Form.Search .SearchButton {
	margin: 0px !important;
	width: 70px !important;
	cursor: pointer;
	}
#Form.Search .Inputs {
	clear: left;
	}
#DiscussionAutoCompleteResults, #CommentAutoCompleteResults {
	width: 180px;
	}
	
/* Search Results */
  
#SearchPage {
	margin-bottom: 20px;
	}
#SearchPage .ContentInfo h1 {
	text-align: left !important;
	}
#SearchPage .Bottom .PageInfo {
	margin-top: 0px !important;
	border-top: 0px !important;
	}

/* Comment Search Results */
  
#CommentResults {
	margin-top:-5px !important;
	}
#CommentResults, #CommentResults * {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#CommentResults li li {
	height:auto;
	border:0px;
	}
#CommentResults li ul {
	padding: 6px 6px 7px 6px;
	color:#777777;
	background-color:#fefecc;
	border-bottom:1px solid #cccccc;
	}
#CommentResults ul span, #CommentResults ul span a, #CommentResults ul a {
	color:#aaaaaa;
	text-decoration:none;
	}
#CommentResults ul span a:hover, #CommentResults ul a:hover {
	color:#ff0000;
	}
#CommentResults ul a {
	color:#777777;
	}	
#CommentResults .CommentResult ul {
	background-color:#ffffff !important;
	}
#CommentResults .CommentText {
	margin:6px 0px 4px 0px !important;
	}
#CommentResults .CommentText span {
	display:none;
	}
#CommentResults .CommentText a {
	color:#000000 !important;
	}
#CommentResults .CommentText a:hover {
	background-color:#ffffaa;
	}
.CommentAuthor, .CommentAdded {
	width: auto;
	display:inline;
	font-size:10px;
	margin-right:10px!important;
	}
/*
  This is an IE kludge.
  For some reason IE was adding about 20px of padding to the top of this element
  and the only way to get rid of it was to add a 1px border to the top.
*/
#CommentResults .SearchComment {
	border-top: 1px solid #fefecc;
	}
#CommentResults .SearchComment ul {
	margin: 0px !important;
	}

/* User Search Results */
  
#UserResults {
	margin-top:-5px !important;
	}
#UserResults, #UserResults * {
	margin:0px;
	padding:0px;
	list-style:none;
	}
/*
  This is an IE kludge.
  For some reason IE was adding about 20px of padding to the top of this element
  and the only way to get rid of it was to add a 1px border to the top.
*/
#UserResults li {
	border-top: 1px solid #fefecc;
	}
#UserResults li ul {
	margin-top: 0px !important;
	background-color:#fefecc;
	border-bottom:1px solid #cccccc;
	}
#UserResults li li {
	height:auto;
	border:0px;
	}
#UserResults li ul {
	padding: 6px 6px 7px 6px;
	color:#777777;
	}
li.User {
	display:inline;
	font-size:10px;
	margin-right:10px !important;
	}
li.User span {
	color: #aaaaaa;
	}
li.User.Name {
	display:block;
	font-size: 11px;
	}
li.User.Name div.UserIcon {
	padding:8px 0px 8px 30px !important;
	margin-right: 6px !important;
	display: inline !important;
	background: center center no-repeat !important;	
	}
li.User.Name a {
	font-size: 14px;
	}
li.User.Name.WithIcon {
	line-height:32px;
	}
li.User.Name a:hover {
	text-decoration: none !important;
	}
li.User.Name span {
	display:none;
	}

/* Forms.. */

#Form * {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#Form {
	margin-bottom: 10px;
	}
#Form fieldset {
	border:0px;
	clear:none;
	}
#Form fieldset legend {
	padding: 4px 0px 4px 0px;
	margin: 0px;
	font-size:14px;
	font-weight:bold;
	color:#000000;
	}
#Form form {
	margin: 0px 0px 50px 0px;
	padding:10px 10px 0px 10px;
	border:1px solid #ffedae;
	border-left:0px;
	border-right:0px;
	background-color:#fef9e9;
	}
#Form li {
	margin-bottom:10px;
	color:#834300;
	font-weight:bold;
	}
#Form label a {
	margin-bottom:-3px;
	margin-right:15px;
	float:right;
	padding:3px 6px;
	color:#834300;
	text-decoration:none;
	font-weight:normal;
	border:1px solid #ffedae;
	background-color:#ffffff;
	}
#WhisperUsername,
#WhisperAutoCompleteResults {
	width: 200px;
	}
#Form textarea {
	width:100%;
	height:150px;
	}
#Form textarea.SmallCommentBox {
	height: 150px;
	}
#Form textarea.LargeCommentBox {
	height: 400px;
	}
#Form .Button {
	cursor: pointer;
	color: #000000 !important;
	}
#Form .Button.SubmitButton {
	margin-right:10px;
	}

/* Add Comment & Start Discussion Forms */

#Form.StartDiscussion legend {
	padding-top: 20px;
	}
#Form.AddComments form {
	margin-top: 0px !important;
	}
#Form.StartDiscussion label, 
#Form.AddComments label {
	display:block;
	width:100%;
	color:#834300;
	font-weight:bold;
	}
#Form.StartDiscussion label.Radio,
#Form.AddComments label.Radio {
	display:inline !important;
	width:auto !important;
	}
#Form.AddComments {
	margin: 4px 0px 4px 0px;
	}
.DiscussionBox {
	width: 400px;
	}
#Form.AddComments .Submit .AddCommentsButton {
	width: 140px !important;
	}
#Form.StartDiscussion .Submit .StartDiscussionButton {
	width:150px !important;
	}
#Form.AddComments a,
#Form.StartDiscussion a {
	font-weight: normal;
	}

/* Account Section Forms.. */

.Account {
	padding-top:18px;
	width:450px;
	margin: 0px !important;
	}
#Form.Account * {
	color:#84733d;
	}
#Form.Account legend {
	color:#000000;
	}
#Form.Account h2 {
	font-size:14px;
	margin-bottom:10px;
	}
#Form.Account label {
	display:block;
	width:40%;
	line-height:18px;
	margin-bottom: 4px;
	}
#Form.GlobalsForm label {
	float: left;
	}
#Form.Extensions label {
	width: 100%;
	}
#Form.Account .Description span label,
#Form.Account label small {
	font-weight:normal;
	}
#Form.Account input,
#Form.Account select {
	width:40%;
	}
#Form.GlobalsForm input,
#Form.GlobalsForm select {
	width: 59%;
	}
.Description {
	margin:3px 0px !important;
	padding: 3px 0px 5px 0px !important;
	font-weight:normal;
	color:#a99861 !important;
	}
#Form.Account p span {
	display:block;
	margin-top:5px;
	}
#Form.Account p span label {
	float:none;	
	display:inline;
	margin-left:5px;
	font-weight:bold;
	line-height:20px;
	width:90%;
	}
#Form.Account p span input {
	width:12px;
	}
#Form.Preferences p span label {
	font-weight: normal;
	}
	
/* Change Role Form */
  
#Form.Role .Submit .ChangeRoleButton {
	width: 100px !important;
	}
	
/* Globals Form */
  
#Form.GlobalsForm select.SmallSelect {
	width: 50px;
	}
	
/* Update Check form */
  
#Form.UpdateCheck p.Description {
	padding: 0px !important;
	margin: 0px 0px 10px 0px !important;
	}  
  
/* RoleEdit Form */
  
#Form.RoleEditForm li p span label {
	font-weight: normal !important;
	}
.Submit input.NewRoleButton {
	width: 120px !important;
	}
	
/* RoleRemove Form */
  
.Submit input.RoleRemoveButton {
	width: 70px !important;
	}
	
/* "Check for Updates" Form */
  
.Submit input.Update {
	width:150px !important;
	}
	
/* Category Form */
  
.Submit input.NewCategoryButton {
	width: 150px !important;
	}
.Submit input.RemoveCategoryButton {
	width: 70px !important;
	}

/* Custom form for extensions management screen */

div.Extensions {
	width:100% !important;
	}
#Form.Extensions div.ExtensionsEnabled h2,
#Form.Extensions div.ExtensionsDisabled h2 {
	padding-top:20px;
	}
#Form.Extensions p a {
	color: #335eb7;
	}
div.ExtensionsDisabled {
	width:48%;
	float:left;
	}
div.ExtensionsEnabled {
	width:48%;
	float:right;
	}
div.ExtensionsDisabled ul, div.ExtensionsEnabled ul {
	border:1px solid #dddddd;
	border-bottom:0px;
	margin-bottom:20px !important;
	}
div.ExtensionsDisabled ul {
	background-color:#fffeec;
	}
div.ExtensionsEnabled ul {
	background-color:#fffecc;
	}
div.ExtensionsDisabled ul li, div.ExtensionsEnabled ul li { 
	border-bottom:1px solid #dddddd;
	margin:0px !important;
	padding:10px !important;
	}
div.ExtensionsDisabled h3, div.ExtensionsDisabled h3 span, div.ExtensionsEnabled h3, div.ExtensionsEnabled h3 span {
	font-size:12px !important;
	color:#062971 !important;
	}
div.ExtensionsDisabled ul li input, div.ExtensionsEnabled ul li input {
	width:auto !important;
	margin-right:5px !important;
	}
div.ExtensionsDisabled ul li span, div.ExtensionsEnabled ul li span {
	margin-left:20px !important;
	}
div.ExtensionsDisabled ul li p, div.ExtensionsEnabled ul li p {
	margin-left:21px !important;
	color:#000000 !important;
	font-weight:normal;
	}
div.ExtensionsDisabled ul li p a, div.ExtensionsEnabled ul li p a {
	color:#335eb7 !important;
	text-decoration: none;
	}
div.ExtensionsDisabled ul li p a:hover, div.ExtensionsEnabled ul li p a:hover {
	color:#062971 !important;
	text-decoration: underline;
	}
div.ExtensionsDisabled ul li.hiLite p, div.ExtensionsEnabled ul li.hiLite p {
	color:#ffffcc !important;
	}

/* Custom form for sortable list */
  
.SortList {
	color: #000000;
	background: rgb(254,254,204);
	margin-top: 10px !important;
	padding: 0px;
	border: 1px solid #ddd;
	border-top: 0px;
	}
.MovableSortListItem {
	cursor: move;
	}
.SortListItem {
	border-top: 1px solid #dddddd;
	padding: 6px !important;
	margin: 0px !important;
	}
.SortEdit {
	position: absolute;
	margin-left: 364px !important;
	}
.SortEdit, .SortEdit:link, .SortEdit:active, .SortEdit:visited {
	font-weight: normal;
	color: #1EB136 !important;
	text-decoration: none;
	}
.SortEdit:hover {
	font-weight: normal;
	color: #339933 !important;
	text-decoration: underline;
	}
.SortRemove {
	display: block;
	position: absolute;
	margin-left: 394px !important;
	height: 20px;
	width: 20px;
	background: url(btn.remove.gif) no-repeat top right;
	text-decoration: none;
	}

/* */

#CustomInfo li {
	width:50%;
	float:left;
	}
#CustomInfo li input {
	width:80% !important;
	}
.Submit {
	margin:20px 0px !important;
	text-align:right;
	}
.Submit input {
	width:50px !important;
	float:left;
	cursor:pointer;
	}
.Submit a {
	color: #FF6600 !important;
	}

/* Profile Page.. */

#AccountProfile {
	float:left;
	width:300px;
	margin-top:20px;
	border-right:1px solid #cccccc;
	}
#AccountProfile * {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#AccountProfile li {
	clear:both;
	margin-right:20px;
	line-height:18px;
	}
#AccountProfile h3 {
	font-size:12px;
	width:44%;
	float:left;
	}
#AccountProfile p {
	float:left;
	width:55%;
	}
#AccountProfile h2 {
	font-size:14px;
	color:#000000;
	width:60%;
	float:left;
	}
#AccountProfile .ProfileTitle * {
	line-height:32px;
	}
.ProfileTitleIcon {
	background-repeat:no-repeat;
	}
.ProfileTitleIcon h2 {
	padding-left:36px !important;
	width:48% !important;
	}
#AccountProfile .ProfileTitle p {
	width:40%;
	text-align:right;
	font-size:11px;
	color:#aaaaaa;
	}
#AccountProfile .ProfileTitle {
	line-height:20px;
	margin-bottom:10px;
	}
#AccountHistory {
	margin-left:320px;
	padding-top:20px;
	}
html>body #AccountHistory { /* ugly hack, but fixes display error in IE. */
	margin-left:300px !important;
	}
#AccountHistory * {
	margin:0px;
	padding:0px;
	list-style:none;
	color:#999999;
	}
#AccountHistory ul, #AccountHistory h2 {
	margin:0px 20px;
	}
#AccountHistory ul {
	margin-bottom:20px;
	}
#AccountHistory h2 {
	font-size:14px;
	color:#000000;
	}
#AccountHistory ul {
	border-top:1px solid #cccccc;
	}
#AccountHistory li {
	padding:5px;
	border-bottom:1px solid #cccccc;
	}
#AccountHistory h3 {
	color:#666666;
	font-size:12px;
	}
#AccountHistory h3 small {
	font-size:11px;
	}
#AccountHistory p {
	font-size:11px;
	}
#AccountHistory p.Note {
	padding:3px;
	padding-bottom:0px;
	font-style:italic;
	}
	
/* Settings Home */
  
#Form.Help legend {
	padding-top: 22px !important;
	}
#Form.Help form {
	width: 450px !important;
	margin: 0px;
	padding: 0px;
	}
#SettingsPage #Form.Help p.Description {
	padding: 10px !important;
	color:#84733d !important;
	}
#SettingsPage #Content dl * {
	margin:0px;
	padding:0px;
	color: #84733d;
	font-size:12px;
	}
#SettingsPage #Content dl dt {
	margin: 10px 10px;
	font-weight:bold;
	font-size:14px;
	}
#SettingsPage #Content dl dd {
	margin:10px;
	}
.WhisperFrom {
	background-color:#fefceb;
	}
.WhisperTo {
	background-color:#feebfa;
	}
.left {
	float:left;
	}
.hiLite {
	background-color:#ffff99;
	font-style:normal;
	}

/* Autocomplete results */
  
.AutoCompleteContainer {
	margin: 0px;
	padding: 0px;
	border: 1px solid #888888;
	border-top: 0px;
	}
.AutoCompleteContainer td {
	padding: 3px;
	cursor: pointer;
	}
.AutoCompleteRow td {
	background: #ffffff;
	color: #000000;
	}
.AutoCompleteHoverRow td {
	background: #335EA8;
	color: #ffffff;
	}  

/* Thank you positioniseverything.com*/

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}
.clearfix {
	display:inline-table;
	}
	
/* Hides from IE-mac \*/
  
* html .clearfix {
	height:1%;
	}
.clearfix {
	display:block;
	}
	
/* End hide from IE-mac */