/* SearchLabelForm: The tiny form above search results that allows
  you to save the search. */
.SearchLabelForm {
   text-align: right;
}
#SearchPage .Top {
   padding-top: 0px;
   }
.SearchLabelForm fieldset {
   border: 0px;
}
.SearchLabelInput,
.SearchLabelButton {
   font-size: 10px;
}
.SearchLabelButton {
   cursor: pointer;
   }
.SearchLabelInput {
   width: 160px;
   text-indent: 2px;
}

/* Saved searches in Panel */
#Panel ul ul.SavedSearches li a {
   display: inline !important;
   width: auto;
   }
#Panel ul ul.SavedSearches li span {
   font-size: 10px !important;
   color: #aaaaaa;
   padding-left: 6px;
   }
#Panel ul ul.SavedSearches li span a {
   font-size: 10px !important;   
   }
