body {
	margin:0px;
	padding:0px;
	background:#ffffff url('panelfade.gif') top left repeat-y;
	}

body, div, table, td {
	font-family:'Trebuchet MS', 'Verdana', 'Tahoma', 'Arial', sans-serif;
	font-size:12px;
	color:#062971;
	}
a {
	cursor: pointer;
	}

/* HYPE */

#HYPE {
	height:50px;
	background-color:#ffffff;
	}

/* LoadStatus.. */

#LoadStatus {
	z-index: 2;
	position: fixed;
	top: 0px;
	right: 0px;
	background: #cc0000;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	color: #ffffff;
	font-size: 11px;
	display: none;
	}

/* Session.. */

#Session {
	width:100%;
	position:absolute;
	top:25px;
	right:18px;
	text-align:right;
	font-size:11px;
	color:#5d709f;
	}
#Session a {
	color:#5d709f;
	text-decoration:none;
	}
#Session a:hover {
	color:#000000;
	}

/* Header.. */

#Header {
	background: url(waves.blue.gif) repeat-x left top #E5EAF6;
	border-top:1px solid #acbedf;
	border-bottom:1px solid #acbedf;
	}

#Header * {
	margin:0px;
	padding:0px;
	}

#Header h1 {
	text-align:center;
	color:#000000;
	font-size:22px;
	margin:10px 0px;
	}
#Header h1 strong {
	color:#ffa500;
	}

#Header ul {
	text-align:center;
	}
#Header ul li {
	display:inline;
	margin:0px 1px;
	border-bottom:1px solid #acbedf;
	}
#Header ul li.TabOn {
	background-color:#ffffff;
	border:1px solid #acbedf;
	border-bottom:1px solid #ffffff;
	font-weight:bold;
	}
#Header ul li a {
	padding:1px 5px;
	font-size:11px;
	text-decoration:none;
	background-color:#5d709f;
	color:#ffffff;
	}
#Header ul li a:hover {
	background-color:#919ebe;
	}
#Header ul li.TabOn a {
	background-color:#ffffff;
	color:#000000;
	}
#Header ul li a em {
	font-style:normal;
	text-decoration:underline;
	}

/* Panel.. */

#Panel {
	width:201px;
	margin-left:18px;
	float:left;
	background:url('panelfadetop.gif') top right no-repeat;
	display: inline;
	}
#Panel * {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#Panel h1 {
	margin-top:10px;
	}
#Panel h1 a {
	color:#cc0000;
	font-size:14px;
	}
#Panel h1 a:hover {
	color:#ff0000;
	}

#Panel h2 {
	color:#000000;
	font-size:11px;
	border-bottom:1px solid #cccccc;
	margin:10px 0px 3px 0px;
	padding:0px 4px;
	width:176px;
	}

#Panel ul ul, #Panel ul p, #Panel select {
	margin:0px 4px;
	}
#Panel ul, #Panel p {
	color:#335eb7;
	font-size:11px;
	}
#Panel ul ul {
	color:#ff0000;
	font-size:10px;
	}
#Panel select {
	width:167px;
	margin-top:3px;
	}
#Panel ul ul li {
	width:173px;
	margin-bottom:3px;
	}
#Panel ul ul li a {
	font-size:11px;
	display:block;
	width:100%;
	color:#335eb7;
	text-decoration:none;
	}
#Panel ul ul li a:hover {
	background-color:#ffffcc;
	}

#Legend {
	margin:-3px 0px 0px 0px !important;
	width:176px;
	}
#Legend li {
	margin:0px !important;
	padding:2px 5px;
	font-size:11px;
	color:#999999;
	border-bottom:1px solid #cccccc;
	}

#Mode {
	margin:20px 0px !important;
	padding:5px 4px !important;
	width:176px;
	}
.TextModeOFF {
	border-top:1px solid #ebc8c6;
	border-bottom:1px solid #ebc8c6;
	background-color:#fee8ef;
	color:#74173d !important;
}
.TextModeON {
	background: #F5F9FF;
	border-top: 1px solid #ACBEDF;
	border-bottom: 1px solid #ACBEDF;
}
.TextModeOFF a {
	color:#74173d !important;
	}
.TextModeON a {
	color: #062971 !important;
	}
#Mode a:hover {
	text-decoration:none;
	}

#AboutVanilla {
	border-top:1px solid #cccccc;
	background-color:#f9f9f9;
	padding:3px;
	text-align:center;
	color:#dddddd !important;
	width:176px;
	margin-bottom: 20px;
	}
#AboutVanilla a {
	color:#d0d0d0 !important;
	text-decoration:none;
	}
#AboutVanilla a:hover {
	color:#aaaaaa !important;
	text-decoration:underline;
	}

/* Content.. */

#Content {
	margin-left:235px;
	margin-right:18px;
	}

/* ContentInfo/Control/Whatever - Universal to Discussion Index & Comments */

#SearchPage .ContentInfo.Top {
	margin-top:-40px;
	}
#SearchPage .ContentInfo.Bottom {
	margin-top:-6px;
	}
.ContentInfo {
	text-align:right;
	}
.ContentInfo.Top {
	padding-top:20px;
	white-space:nowrap;
	overflow: hidden;
	}
#DiscussionsPage .ContentInfo.Bottom {
	margin-top:-6px;
	margin-bottom: 8px;
	}
.ContentInfo * {
	font-size:14px;
	font-weight:bold;
	margin:0px;
	padding:0px;
	}
.ContentInfo h1 {
	color:#000000;
	float:left;
	}
.ContentInfo input {
	font-size:10px;
	margin-left:5px;
	}
#DiscussionsPage .ContentInfo h1 {
	float:none;
	text-align:left;
	}
.ContentInfo h1 a {
	color:#3354aa;
	text-decoration:none;
	}
.ContentInfo h1 a:hover {
	color:#000000;
	}
.ContentInfo a {
	color:#cccccc;
	text-decoration:none;
	}
.ContentInfo a:hover {
	color:#3354aa;
	}

.PageInfo {
	color:#cccccc;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	padding:0px 1px;
	margin:5px 0px;
	height:23px;
	line-height:23px;
	font-weight:bold;
	}
.PageInfo p {
	margin:0px;
	padding:0px;
	display:inline;
	float:left;
	}
.PageList {
	margin:0px;
	padding:0px;
	list-style:none;
	}
.PageList li {
	display:inline;
	}
.PageList li a {
	text-decoration:none;
	color:#3354aa !important;
	}

/* Discussion Index */
#PageJump {
	position: absolute;
	margin-top: -16px;
	right: 20px;
	display: block;
	}
#Discussions {
	margin-top:-5px !important;
	}
#Discussions, #Discussions * {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#Discussions li ul {
	background-color:#fefecc;
	border-bottom:1px solid #cccccc;
	}
#Discussions li li {
	height:auto;
	border:0px;
	}
#Discussions li.Read ul {
	background-color:#fffeec !important;
	}
#Discussions li.Read.NewComments ul {
	background-color:#fefecc !important;
	}
#Discussions li ul {
	padding: 7px 6px 7px 6px;
	color:#777777;
	}
#Discussions ul span, #Discussions ul span a, #Discussions ul a {
	color:#aaaaaa;
	text-decoration:none;
	}
#Discussions ul span a:hover, #Discussions ul a:hover {
	color:#ff0000;
	}
#Discussions ul a {
	color:#777777;
	}

.ThreadType {
	font-size:14px;
	float:left;
	margin-right:5px !important;
	color:#062971;
	font-weight:bold;
	line-height:20px;
	}
.ThreadType span {
	display:none;
	}
.ThreadType.Normal {
	display:none;
	}
.ThreadTitle, .User.Name {
	font-size:14px;
	line-height:20px;
	overflow: hidden;
	}
.ThreadTitle span {
	display:none;
	}
.ThreadTitle a, .User.Name a {
	color:#3354aa !important;
	text-decoration:underline !important;
	font-weight:bold;
	}
.ThreadCategory, .ThreadStarted, .ThreadComments, .ThreadLastComment, .ThreadActive, .ThreadNew {
	display:inline;
	font-size:10px;
	margin-right:10px!important;
	}

.NewComments .ThreadNew a {
	color:#cc0000 !important;
	}
#Discussions li.Read.NewComments .ThreadNew {
	display:inline;
	}

/* Search comments specific */

li.WText ul {
	background-color:#ffffff !important;
	}
.ThreadText {
	margin:6px 0px 4px 0px !important;
	}
.ThreadText span {
	display:none;
	}
.ThreadText a {
	padding:5px 2px !important;
	color:#000000 !important;
	}
.ThreadText a:hover {
	background-color:#ffffcc;
	}

/* Search user specific... */

li.UserAccount.Odd ul {
	background-color:#ffffff !important;
	}
li.UserAccount.Even ul {
	background-color:#f4f4f4 !important;
	}
li.User {
	display:inline;
	font-size:10px;
	margin-right:10px !important;
	}
li.User.Name {
	display:block;
	}
li.User.Name.WIcon {
	background-repeat:no-repeat;
	line-height:32px;
	padding:0px 0px 0px 35px !important;
	}
li.User.Name span {
	display:none;
	}

/* Comments.. */

#Comments {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#Comments li {
	margin:0px;
	padding:10px 0px;
	border-bottom:1px solid #cccccc;
	}
#Comments .CommentHeader {
	padding-left: 8px;
	padding-right: 8px;
	text-align:right;
	line-height:32px;
	}
#Comments .CommentHeader ul {
	float:left;
	margin:0px;
	padding:0px;
	list-style:none;
	}
#Comments .CommentHeader li {
	margin:0px;
	padding:0px;
	display:inline;
	color:#aaaaaa;
	font-size:11px;
	border-bottom:0px;
	}
#Comments .CommentHeader li div.CommentIcon {
	padding:9px 0px 9px 35px;
	margin-right: 6px;
	background-repeat:no-repeat;
	display: inline;
	background: #fff center center no-repeat;
	
	}
#Comments .CommentHeader li span {
	display:none;
	}
#Comments .CommentHeader em {
	color:#cccccc;
	font-style:normal;
	}
#Comments .CommentHeader a {
	text-decoration:none;
	font-weight:bold;
	font-size:13px;
	color:#3354aa;
	}
#Comments .CommentHeader span {
	font-size:10px;
	font-weight: normal;
	color:#aaaaaa;
}
#Comments .CommentHeader span a {
	font-size:10px;
	font-weight: normal;
	color:#aaaaaa;
	margin-left:3px;
	padding-left:3px;
	cursor: pointer;
	text-decoration: underline;
	}
#Comments .CommentHeader span a:hover {
	text-decoration: underline;
	color: #333;
	}
#Comments .CommentBody {
	display:block;
	margin:10px;
	color:#000000;
	}
#CommentsPage .ContentInfo.Middle .PageInfo {
	border-top: 0px;
	margin:0px;
	}
#CommentsPage .ContentInfo.Bottom {
	margin-bottom: 20px;
	}
#Comments code {
	border-left: 6px solid #FFFFAA;
	background: #FFFFEE;
	padding: 8px;
	padding-left: 16px;
	display: block;
	white-space: pre;
	}
	
	

/* Forms.. */

#Form * {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#Form {
	margin-bottom: 10px;
}
#Form fieldset {
	border:0px;
	clear:none;
	}
#Form fieldset legend {
	padding-bottom:5px;
	font-size:14px;
	font-weight:bold;
	color:#000000;
	}
#Form form {
	margin:10px 0px 50px 0px;
	padding:10px 10px 0px 10px;
	border:1px solid #ffedae;
	border-left:0px;
	border-right:0px;
	background-color:#fef9e9;
	}
#Form li {
	margin-bottom:10px;
	color:#834300;
	font-weight:bold;
	}
#Form label a {
	margin-bottom:-3px;
	margin-right:15px;
	float:right;
	padding:3px 6px;
	color:#834300;
	text-decoration:none;
	font-weight:normal;
	border:1px solid #ffedae;
	background-color:#ffffff;
	}
#Form input.whisper {
	width:30%;
	}
#Form textarea {
	width:60%;
	height:150px;
	}
#Form .Button.SubmitButton {
	margin-right:10px;
	color: #000000;
	}

/* Add Comment Form.. */

#Form.AddComments label {
	display:block;
	width:60%;
	color:#834300;
	font-weight:bold;
	}
#Form.AddComments label.Radio {
	display:inline !important;
	width:auto !important;
	}
#Form.AddComments {
	margin: 4px 0px 4px 0px;
	}

/* Search form.. */

div.Search {
	width:100% !important;
	}

#Form.Search input.Radio {
	width:12px !important;
	}
#Form.Search label.Radio {
	display:inline !important;
	width:auto !important;
	float:none;
	margin:0px;
	}

#Form.Search #SearchSimple label {
	width:auto !important;
	margin-right:10px;
	}
#Form.Search #SearchAdvanced label {
	width:33%;
	}
#Form.Search #SearchAdvanced input, #Form.Search #SearchAdvanced select {
	width:30%;
	margin-right:3%;
	}
#Form.Search #SearchAdvanced div.Submit {
	margin:10px 0px 25px 0px !important;
	}

/* Account Section Forms.. */

#Form.Account {
	padding-top:10px;
	width:450px;
	}
#Form.Account * {
	color:#84733d;
	}
#Form.Account legend {
	color:#000000;
	}
#Form.Account h2 {
	font-size:14px;
	margin-bottom:10px;
	}
#Form.Account label {
	float:left;
	display:block;
	width:40%;
	line-height:18px;
	}
#Form.Account .Description span label,
#Form.Account label small {
	font-weight:normal;
	}
#Form.Account input,
#Form.Account select {
	width:59%;
	}
.Description {
	margin:3px 0px !important;
	padding:5px 0px !important;
	background-color:#f8f8de;
	font-weight:normal;
	color:#a99861 !important;
	}
#Form.Account p span {
	display:block;
	margin-top:5px;
	}
#Form.Account p span label {
	float:none;	
	display:inline;
	margin-left:5px;
	font-weight:bold;
	line-height:20px;
	width:90%;
	}
#Form.Account p span input {
	width:12px;
	}

/* Custom form for extensions management screen */

div.Extensions {
	width:100% !important;
	}
div.ExtensionsDisabled {
	width:48%;
	float:left;
	}
div.ExtensionsEnabled {
	width:48%;
	float:right;
	}
div.ExtensionsDisabled ul, div.ExtensionsEnabled ul {
	border:1px solid #dddddd;
	border-bottom:0px;
	margin-bottom:20px !important;
	}
div.ExtensionsDisabled ul {
	background-color:#fffeec;
	}
div.ExtensionsEnabled ul {
	background-color:#fffecc;
	}
div.ExtensionsDisabled ul li, div.ExtensionsEnabled ul li { /* heh, these declarations are getting retardeder */
	border-bottom:1px solid #dddddd;
	margin:0px !important;
	padding:10px !important;
	}
div.ExtensionsDisabled h3, div.ExtensionsDisabled h3 span, div.ExtensionsEnabled h3, div.ExtensionsEnabled h3 span {
	font-size:12px !important;
	color:#062971 !important;
	}
div.ExtensionsDisabled ul li.hiLite, div.ExtensionsEnabled ul li.hiLite {
	background-color:#ffff99;
	}
div.ExtensionsDisabled ul li input, div.ExtensionsEnabled ul li input {
	width:auto !important;
	margin-right:5px !important;
	}
div.ExtensionsDisabled ul li span, div.ExtensionsEnabled ul li span {
	margin-left:20px !important;
	}
div.ExtensionsDisabled ul li p, div.ExtensionsEnabled ul li p {
	margin-left:21px !important;
	color:#000000 !important;
	font-weight:normal;
	}
div.ExtensionsDisabled ul li p a, div.ExtensionsEnabled ul li p a {
	color:#000000 !important;
	text-decoration:none;
	}
div.ExtensionsDisabled ul li.hiLite p, div.ExtensionsEnabled ul li.hiLite p {
	color:#062971 !important;
	}
	
/* */

#CustomInfo li {
	width:50%;
	float:left;
	}
#CustomInfo li input {
	width:80% !important;
	}

.Submit {
	margin:20px 0px !important;
	text-align:right;
	}
.Submit input {
	width:50px !important;
	float:left;
	cursor:pointer;
	}
.Submit input.Update {
	width:150px !important;
	}

/* Profile Page.. */

#AccountProfile {
	float:left;
	width:300px;
	margin-top:20px;
	border-right:1px solid #cccccc;
	}
#AccountProfile * {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#AccountProfile li {
	clear:both;
	margin-right:20px;
	line-height:18px;
	}
#AccountProfile h3 {
	font-size:12px;
	width:44%;
	float:left;
	}
#AccountProfile p {
	float:left;
	width:55%;
	}
#AccountProfile h2 {
	font-size:14px;
	color:#000000;
	width:60%;
	float:left;
	}
#AccountProfile .ProfileTitle * {
	line-height:32px;
	}
.ProfileTitleIcon {
	background-repeat:no-repeat;
	}
.ProfileTitleIcon h2 {
	margin-left:32px !important;
	width:48% !important;
	}
#AccountProfile .ProfileTitle p {
	width:40%;
	text-align:right;
	font-size:11px;
	color:#aaaaaa;
	}
#AccountProfile .ProfileTitle {
	line-height:20px;
	margin-bottom:10px;
	}

#AccountHistory {
	margin-left:320px;
	padding-top:20px;
	}
html>body #AccountHistory { /* ugly hack, but fixes display error in IE.. fuck it */
	margin-left:300px !important;
	}
#AccountHistory * {
	margin:0px;
	padding:0px;
	list-style:none;
	color:#999999;
	}
#AccountHistory ul, #AccountHistory h2 {
	margin:0px 20px;
	}
#AccountHistory ul {
	margin-bottom:20px;
	}
#AccountHistory h2 {
	font-size:14px;
	color:#000000;
	}
#AccountHistory ul {
	border-top:1px solid #cccccc;
	}
#AccountHistory li {
	padding:5px;
	border-bottom:1px solid #cccccc;
	}
#AccountHistory h3 {
	color:#666666;
	font-size:12px;
	}
#AccountHistory h3 small {
	font-size:11px;
	}
#AccountHistory p {
	font-size:11px;
	}
#AccountHistory p.Note {
	padding:3px;
	padding-bottom:0px;
	font-style:italic;
	}
	
#SettingsPage #Content {
	padding-top:20px;
	}
#SettingsPage #Content h1 {
	font-size:14px;
	color:#000000;
	margin:0px;
	padding:0px;
	padding-bottom:5px;
	border-bottom:1px solid #cccccc;
	}
#SettingsPage #Content dl * {
	margin:0px;
	padding:0px;
	color:#999999;
	font-size:12px;
	}
#SettingsPage #Content dl dt {
	font-weight:bold;
	font-size:14px;
	}
#SettingsPage #Content dl dd {
	margin:10px;
	}
	

.WhisperFrom {
	background-color:#fefceb;
	}
.WhisperTo {
	background-color:#feebfa;
	}

.left {
	float:left;
	}

.hiLite {
	background-color:#ffff99;
	font-style:normal;
	}

/* Autocomplete results */
.AutoCompleteContainer {
	margin: 0px;
	padding: 0px;
	border: 1px solid #000;
	border-top: 0px;
	width: 150px;
}
.AutoCompleteContainer td {
	padding: 4 0 4 2;
}
.AutoCompleteRow td {
	background: #ffffff;
	color: #000000;
}
.AutoCompleteHoverRow td {
	background: #335EA8;
	color: #ffffff;
}
.AutoCompleteInput {
	width: 150px;
}
  

/* Thank you positioniseverything.com*/

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}
.clearfix {
	display:inline-table;
	}
/* Hides from IE-mac \*/
* html .clearfix {
	height:1%;
	}
.clearfix {
	display:block;
	}
/* End hide from IE-mac */