#Comments .Attachments {
	margin: 10px 0 0 0;
	padding: 8px 0 0 0;
	color: #062971;
	display: block;
	overflow: auto;
	height: 1%;
	}
#Comments .Attachments ul {
	margin: 0;
	padding: 0;
	list-style-image: url('images/file_attach.gif');
	}
#Comments .Attachments ul li {
	margin-left: 28px;
	padding-left: 8px;
	}
#Comments .Attachments ul li a {
	text-decoration: none;
	}
#Comments .Attachments ul li a:hover {
	text-decoration: underline;
	}

/* Attachmentlist */

#Form ul.AttachmentList {
	margin: 5px 0 5px 20px;
	padding: 0;
	}
#Form ul.AttachmentList li {
	padding: 0;
	margin: 0;
	font-weight: normal;
	list-style-type: disc;
	}

/* Filetypes */

#Comments .Attachments ul li.jpg,
#Comments .Attachments ul li.gif,
#Comments .Attachments ul li.bmp,
#Comments .Attachments ul li.tif,
#Comments .Attachments ul li.png {
	list-style-image: url('images/file_image.gif');
	}
#Comments .Attachments ul li.doc,
#Comments .Attachments ul li.rtf {
	list-style-image: url('images/file_word.gif');
	}
#Comments .Attachments ul li.txt {
	list-style-image: url('images/file_text.gif');
	}
#Comments .Attachments ul li.pdf {
	list-style-image: url('images/file_acrobat.gif');
	}
#Comments .Attachments ul li.zip,
#Comments .Attachments ul li.rar,
#Comments .Attachments ul li.gz {
	list-style-image: url('images/file_compressed.gif');
	}

#Comments .Attachments ul li.doc,
#Comments .Attachments ul li.rtf,
#Comments .Attachments ul li.txt a,
#Comments .Attachments ul li.pdf a,
#Comments .Attachments ul li.zip a,
#Comments .Attachments ul li.rar a,
#Comments .Attachments ul li.gz a {
	position:		relative;
	top:			-3px;
	left:			-10px;
}

.InlineImage {
	border:			none;
}