#Previews li {
   text-align:right;
}
#Form.ChangeStyle a.StylePreview {
   display: block;
   width: 430px;
   height: 220px;
   text-align: center;
   text-decoration: none;
	color: #000000 !important;
}
#Form.ChangeStyle a.StylePreview span {
   padding-top: 75px;
   display: block;
   font-size: 60px;
   filter:alpha(opacity=30);
	opacity: 0.3;
	-moz-opacity:0.3;
	color: #555555 !important;
}
.StylePreview:hover span {
   filter:alpha(opacity=100) !important;
	opacity: 1.0 !important;
	-moz-opacity:1.0 !important;
}
#Form.ChangeStyle a.NoStylePreview {
   margin-left: 30px;
   display: block;
   width: 370px;
   border:1px solid #F7EED1;
   text-align: center;
   text-decoration: none;
   background: #FFFEF6;
   padding: 10px 0px 10px 0px;
	font-weight: normal;
	color: #B49D55 !important;
}
.NoStylePreview span {
	color: #9F8942 !important;
}
#Form.ChangeStyle a.NoStylePreview:hover {
   margin-left: 30px;
   display: block;
   width: 370px;
   border:1px solid #DDCB94;
   text-align: center;
   text-decoration: none;
   background: #ffffff;
   padding: 10px 0px 10px 0px;
}
.NoStylePreview:hover span {
	color: #9F8942 !important;
}
#Form.ChangeStyle a.NoStylePreview span {
   display: block;
   font-size: 12px;
   filter:alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity:0.8;
}
#LinkButton {
   display: block;
   text-align: right;
}
.Submit input.CustomStyleButton {
	width: 220px !important;
}
.Submit input.NewStyleButton {
	width: 130px !important;
}
.Submit input.RemoveStyleButton {
	width: 70px !important;
}
#Form input.CustomStyleInput {
	width: 400px;
}