#Mode {
	margin:20px 0px !important;
	padding:5px 0px !important;
	text-indent: 4px;
	width:180px;
	}
.TextModeOFF {
	border-top:1px solid #ebc8c6;
	border-bottom:1px solid #ebc8c6;
	background-color:#fee8ef;
	color:#74173d !important;
}
.TextModeON {
	background: #F5F9FF;
	border-top: 1px solid #ACBEDF;
	border-bottom: 1px solid #ACBEDF;
}
.TextModeOFF a {
	color:#74173d !important;
	}
.TextModeON a {
	color: #062971 !important;
	}
#Mode a:hover {
	text-decoration:none;
	}
