#GuestWelcome {
   padding: 0px;
   margin: 0px;
   width: 180px;
}
#GuestWelcome h2 {
   margin-bottom: 0px;
}
#GuestWelcome p {
   background: #f5f9ff;
   padding: 4px;
}
#GuestWelcome a {
   color: #062971;
   text-decoration: underline;
}
#GuestWelcome a:hover {
   color: #000000;
   text-decoration: none;
}